/* SVG with fallback */
/* Icon inside button */
/* Icon inside list */
/* REM font */
/* Remove Appearance */
/* Give space for 30 px icon */
/* Padding remove/add on med screen */
/* Remove list stylings */
/* Border Radius cross browser */
/* Centered Box Shadow */
/* inset Box Shadow */
/* Bottom box shadow */
/* Card styles */
/* Css Elipsis */
/* Trip representation vehicles */
/* Breakpoints */
/* CSS rotate */
/* Add before element */
/* Add after element */
/* line 5, ../../sass/pages/itinerary.sass */
.info-bar {
  padding-top: 30px;
  padding-bottom: 30px;
}
/* line 6, ../../sass/pages/itinerary.sass */
.info-bar div, .info-bar p, .info-bar a {
  font-family: Raleway, "Raleway", sans-serif;
}
/* line 10, ../../sass/pages/itinerary.sass */
.info-bar b {
  font-weight: 600;
}
/* line 12, ../../sass/pages/itinerary.sass */
.info-bar .cta-container {
  margin-top: 5px;
}
/* line 14, ../../sass/pages/itinerary.sass */
.info-bar .btn {
  background: #4B515E;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: Raleway, "Raleway", sans-serif;
}

/* line 22, ../../sass/pages/itinerary.sass */
.itinerary .appointment-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 26, ../../sass/pages/itinerary.sass */
.itinerary .appointment-list li {
  background-repeat: no-repeat;
  padding-left: 45px;
  background-position: 5px 15px;
  background-size: auto 28px;
  background-image: url("../images/base/icons/svg/icon-calendar-white.svg");
  color: #FFFFFF;
  border-top: 1px solid #62697a;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  opacity: 0.5;
}
/* line 17, ../../sass/base/_mixins.sass */
html.no-svg .itinerary .appointment-list li {
  background-image: url("../images/base/icons/png/icon-calendar-white.png");
}
/* line 34, ../../sass/pages/itinerary.sass */
.itinerary .appointment-list li .appointment-name {
  font-family: Raleway, "Raleway", sans-serif;
  font-weight: 400;
}
/* line 37, ../../sass/pages/itinerary.sass */
.itinerary .appointment-list li .appointment-time {
  font-weight: 200;
  font-size: 14px;
  letter-spacing: 0.5px;
}
/* line 41, ../../sass/pages/itinerary.sass */
.itinerary .appointment-list li .appointment-location {
  font-size: 14px;
  margin-bottom: 15px;
}
/* line 44, ../../sass/pages/itinerary.sass */
.itinerary .appointment-list li .appointment-price {
  font-weight: 400;
  font-size: 14px;
  color: #EDEDED;
  text-align: right;
  padding-right: 35px;
}
/* line 50, ../../sass/pages/itinerary.sass */
.itinerary .appointment-list li .selection-description {
  font-size: 12px;
  display: block;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 10px;
  color: #F8F8F8;
  opacity: 0.7;
}
/* line 57, ../../sass/pages/itinerary.sass */
.itinerary .appointment-list li .selection-description .price {
  text-align: right;
  font-size: 18px;
  padding-right: 30px;
}
/* line 61, ../../sass/pages/itinerary.sass */
.itinerary .appointment-list li .selection-description.flight {
  background-repeat: no-repeat;
  padding-left: 20px;
  background-position: 5px 50%;
  background-size: auto 20px;
  background-image: url("../images/base/icons/svg/icon-plane-white.svg");
  background-position: left 0px top 15px;
}
/* line 17, ../../sass/base/_mixins.sass */
html.no-svg .itinerary .appointment-list li .selection-description.flight {
  background-image: url("../images/base/icons/png/icon-plane-white.png");
}
/* line 64, ../../sass/pages/itinerary.sass */
.itinerary .appointment-list li .selection-description.train {
  background-repeat: no-repeat;
  padding-left: 20px;
  background-position: 5px 50%;
  background-size: auto 20px;
  background-image: url("../images/base/icons/svg/icon-train-white.svg");
  background-position: left 0px top 15px;
}
/* line 17, ../../sass/base/_mixins.sass */
html.no-svg .itinerary .appointment-list li .selection-description.train {
  background-image: url("../images/base/icons/png/icon-train-white.png");
}
/* line 68, ../../sass/pages/itinerary.sass */
.itinerary .appointment-list li.active {
  background: #FFFFFF;
  color: #3C3C3C;
  opacity: 1;
  cursor: pointer;
  background-repeat: no-repeat;
  padding-left: 45px;
  background-position: 5px 15px;
  background-size: auto 28px;
  background-image: url("../images/base/icons/svg/icon-calendar.svg");
}
/* line 17, ../../sass/base/_mixins.sass */
html.no-svg .itinerary .appointment-list li.active {
  background-image: url("../images/base/icons/png/icon-calendar.png");
}
/* line 74, ../../sass/pages/itinerary.sass */
.itinerary .appointment-list li.active .appointment-price {
  color: #00D097;
}
/* line 76, ../../sass/pages/itinerary.sass */
.itinerary .appointment-list li.active .selection-description {
  color: #666666;
  border-top: 1px solid rgba(60, 60, 60, 0.2);
  opacity: 1;
}
/* line 80, ../../sass/pages/itinerary.sass */
.itinerary .appointment-list li.active .selection-description.flight {
  background-repeat: no-repeat;
  padding-left: 20px;
  background-position: 5px 50%;
  background-size: auto 20px;
  background-image: url("../images/base/icons/svg/icon-plane.svg");
  background-position: left 0px top 15px;
}
/* line 17, ../../sass/base/_mixins.sass */
html.no-svg .itinerary .appointment-list li.active .selection-description.flight {
  background-image: url("../images/base/icons/png/icon-plane.png");
}
/* line 83, ../../sass/pages/itinerary.sass */
.itinerary .appointment-list li.active .selection-description.train {
  background-repeat: no-repeat;
  padding-left: 20px;
  background-position: 5px 50%;
  background-size: auto 20px;
  background-image: url("../images/base/icons/svg/icon-train.svg");
  background-position: left 0px top 15px;
}
/* line 17, ../../sass/base/_mixins.sass */
html.no-svg .itinerary .appointment-list li.active .selection-description.train {
  background-image: url("../images/base/icons/png/icon-train.png");
}
/* line 86, ../../sass/pages/itinerary.sass */
.itinerary .appointment-list li.active .selection-description .price {
  font-weight: bold;
  color: #00D097;
}
/* line 89, ../../sass/pages/itinerary.sass */
.itinerary .appointment-list li.done {
  opacity: 1;
  font-weight: normal;
  background-repeat: no-repeat;
  padding-left: 45px;
  background-position: 5px 15px;
  background-size: auto 28px;
  background-image: url("../images/base/icons/svg/icon-calendar-checked.svg");
}
/* line 17, ../../sass/base/_mixins.sass */
html.no-svg .itinerary .appointment-list li.done {
  background-image: url("../images/base/icons/png/icon-calendar-checked.png");
}
/* line 93, ../../sass/pages/itinerary.sass */
.itinerary .appointment-list li.done .appointment-price {
  font-weight: bold;
}
/* line 95, ../../sass/pages/itinerary.sass */
.itinerary .appointment-list li.done:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

/* line 99, ../../sass/pages/itinerary.sass */
.itinerary-box .appointment-name {
  font-family: Raleway, "Raleway", sans-serif;
}
/* line 101, ../../sass/pages/itinerary.sass */
.itinerary-box .appointment-time {
  font-weight: 200;
  font-size: 14px;
  letter-spacing: 0.5px;
}
/* line 105, ../../sass/pages/itinerary.sass */
.itinerary-box .appointment-location {
  font-size: 14px;
  margin-bottom: 15px;
}
/* line 108, ../../sass/pages/itinerary.sass */
.itinerary-box .card {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
}
/* line 110, ../../sass/pages/itinerary.sass */
.itinerary-box .card .card-header {
  background: #FFFFFF;
}
/* line 112, ../../sass/pages/itinerary.sass */
.itinerary-box .itinerary-card {
  text-align: center;
}
/* line 115, ../../sass/pages/itinerary.sass */
.itinerary-box .itinerary-card:not(.open) .card-block:hover {
  background-color: rgba(248, 248, 248, 0.6);
}
/* line 117, ../../sass/pages/itinerary.sass */
.itinerary-box .itinerary-card .card-block {
  padding: 0px;
  cursor: pointer;
}
/* line 120, ../../sass/pages/itinerary.sass */
.itinerary-box .itinerary-card .card-block.flight {
  background-repeat: no-repeat;
  padding-left: 50px;
  background-position: 5px 50%;
  background-size: auto 28px;
  background-image: url("../images/base/icons/svg/icon-plane.svg");
  background-position: left 15px top 15px;
}
/* line 17, ../../sass/base/_mixins.sass */
html.no-svg .itinerary-box .itinerary-card .card-block.flight {
  background-image: url("../images/base/icons/png/icon-plane.png");
}
/* line 123, ../../sass/pages/itinerary.sass */
.itinerary-box .itinerary-card .card-block.train {
  background-repeat: no-repeat;
  padding-left: 50px;
  background-position: 5px 50%;
  background-size: auto 28px;
  background-image: url("../images/base/icons/svg/icon-train.svg");
  background-position: left 15px top 15px;
}
/* line 17, ../../sass/base/_mixins.sass */
html.no-svg .itinerary-box .itinerary-card .card-block.train {
  background-image: url("../images/base/icons/png/icon-train.png");
}
/* line 126, ../../sass/pages/itinerary.sass */
.itinerary-box .itinerary-card .card-block.car {
  background-repeat: no-repeat;
  padding-left: 50px;
  background-position: 5px 50%;
  background-size: auto 28px;
  background-image: url("../images/base/icons/svg/icon-train.svg");
  background-position: left 15px top 15px;
}
/* line 17, ../../sass/base/_mixins.sass */
html.no-svg .itinerary-box .itinerary-card .card-block.car {
  background-image: url("../images/base/icons/png/icon-train.png");
}
/* line 129, ../../sass/pages/itinerary.sass */
.itinerary-box .itinerary-card .card-block .flight {
  background-repeat: no-repeat;
  padding-left: 65px;
  background-position: 5px 50%;
  background-size: auto 28px;
  background-image: url("../images/base/icons/svg/icon-plane.svg");
  background-position: left 30px top 12px;
}
/* line 17, ../../sass/base/_mixins.sass */
html.no-svg .itinerary-box .itinerary-card .card-block .flight {
  background-image: url("../images/base/icons/png/icon-plane.png");
}
/* line 132, ../../sass/pages/itinerary.sass */
.itinerary-box .itinerary-card .card-block .train {
  background-repeat: no-repeat;
  padding-left: 65px;
  background-position: 5px 50%;
  background-size: auto 28px;
  background-image: url("../images/base/icons/svg/icon-train.svg");
  background-position: left 30px top 12px;
}
/* line 17, ../../sass/base/_mixins.sass */
html.no-svg .itinerary-box .itinerary-card .card-block .train {
  background-image: url("../images/base/icons/png/icon-train.png");
}
/* line 135, ../../sass/pages/itinerary.sass */
.itinerary-box .itinerary-card .card-block .car {
  background-repeat: no-repeat;
  padding-left: 65px;
  background-position: 5px 50%;
  background-size: auto 28px;
  background-image: url("../images/base/icons/svg/icon-train.svg");
  background-position: left 30px top 12px;
}
/* line 17, ../../sass/base/_mixins.sass */
html.no-svg .itinerary-box .itinerary-card .card-block .car {
  background-image: url("../images/base/icons/png/icon-train.png");
}
/* line 138, ../../sass/pages/itinerary.sass */
.itinerary-box .itinerary-card div {
  font-family: Raleway, "Raleway", sans-serif;
}
/* line 140, ../../sass/pages/itinerary.sass */
.itinerary-box .itinerary-card small {
  color: #666666;
  display: block;
}
@media (min-width: 768px) {
  /* line 112, ../../sass/pages/itinerary.sass */
  .itinerary-box .itinerary-card {
    text-align: left;
  }
}
/* line 146, ../../sass/pages/itinerary.sass */
.itinerary-box .change-link {
  display: none;
}
/* line 148, ../../sass/pages/itinerary.sass */
.itinerary-box .change-link a {
  font-size: 14px;
  font-family: Raleway, "Raleway", sans-serif;
  font-weight: 600;
}
/* line 152, ../../sass/pages/itinerary.sass */
.itinerary-box .radio-container {
  text-align: center;
  width: 100%;
}
/* line 155, ../../sass/pages/itinerary.sass */
.itinerary-box .radio-container input {
  height: 22px;
  width: 22px;
  margin-left: 2px;
}
/* line 159, ../../sass/pages/itinerary.sass */
.itinerary-box .options {
  font-size: 12px;
  font-weight: 500;
  padding: 3px 15px;
  color: #3C3C3C;
  font-size: 14px;
  text-align: center;
}
/* line 166, ../../sass/pages/itinerary.sass */
.itinerary-box .border-table {
  border: 2px solid #666666;
}
/* line 169, ../../sass/pages/itinerary.sass */
.itinerary-box .main-itinerary-table input {
  margin-top: 10px;
}
/* line 171, ../../sass/pages/itinerary.sass */
.itinerary-box .main-itinerary-table .radio-container {
  text-align: center;
  padding: 0;
}
/* line 174, ../../sass/pages/itinerary.sass */
.itinerary-box .itinerary-table {
  padding: 5px 15px;
}
/* line 176, ../../sass/pages/itinerary.sass */
.itinerary-box .itinerary-table:hover {
  background-color: rgba(248, 248, 248, 0.6);
}
/* line 178, ../../sass/pages/itinerary.sass */
.itinerary-box .itinerary-table .price {
  font-size: 20px;
}
/* line 180, ../../sass/pages/itinerary.sass */
.itinerary-box .itinerary-table .price small {
  font-size: 12px;
}
/* line 182, ../../sass/pages/itinerary.sass */
.itinerary-box .itinerary-table .info {
  margin-bottom: 8px;
}
/* line 184, ../../sass/pages/itinerary.sass */
.itinerary-box .itinerary-table div {
  font-size: 14px;
}
@media (min-width: 768px) {
  /* line 184, ../../sass/pages/itinerary.sass */
  .itinerary-box .itinerary-table div {
    margin-bottom: 0;
    font-size: 16px;
  }
}
/* line 189, ../../sass/pages/itinerary.sass */
.itinerary-box .itinerary-table.itinerary-small-table {
  padding-top: 15px;
  padding-bottom: 10px;
}
/* line 192, ../../sass/pages/itinerary.sass */
.itinerary-box .itinerary-table.itinerary-small-table .info {
  font-size: 14px;
  line-height: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial;
}
/* line 196, ../../sass/pages/itinerary.sass */
.itinerary-box .itinerary-table.itinerary-small-table .price {
  font-size: 16px;
  text-align: center;
}
/* line 199, ../../sass/pages/itinerary.sass */
.itinerary-box .itinerary-table.itinerary-small-table .radio-container {
  height: 15px;
}
@media (min-width: 768px) {
  /* line 202, ../../sass/pages/itinerary.sass */
  .itinerary-box .itinerary-table.itinerary-small-table small {
    display: none;
  }
}
/* line 204, ../../sass/pages/itinerary.sass */
.itinerary-box .itinerary-table.selected {
  background-color: rgba(0, 208, 151, 0.2) !important;
}
@media (min-width: 768px) {
  /* line 174, ../../sass/pages/itinerary.sass */
  .itinerary-box .itinerary-table {
    padding-top: 5px;
  }
  /* line 210, ../../sass/pages/itinerary.sass */
  .itinerary-box .itinerary-table .price {
    text-align: right;
  }
}
/* line 212, ../../sass/pages/itinerary.sass */
.itinerary-box .calendar-icon {
  background-repeat: no-repeat;
  padding-left: 45px;
  background-position: 5px 15px;
  background-size: auto 28px;
  background-image: url("../images/base/icons/svg/icon-calendar-white.svg");
}
/* line 17, ../../sass/base/_mixins.sass */
html.no-svg .itinerary-box .calendar-icon {
  background-image: url("../images/base/icons/png/icon-calendar-white.png");
}
/* line 214, ../../sass/pages/itinerary.sass */
.itinerary-box .time-before {
  margin-top: 20px;
  line-height: 1.4;
  border-top: 1px solid #E2E2E2;
  padding: 15px 0px;
  margin-bottom: 0;
}
/* line 220, ../../sass/pages/itinerary.sass */
.itinerary-box .time-before h6 {
  background-repeat: no-repeat;
  padding-left: 25px;
  background-position: 5px 18px;
  background-size: auto 18px;
  background-image: url("../images/base/icons/svg/icon-time.svg");
  background-position: left top;
  text-transform: uppercase;
  color: #666666;
  letter-spacing: 0.5px;
}
/* line 17, ../../sass/base/_mixins.sass */
html.no-svg .itinerary-box .time-before h6 {
  background-image: url("../images/base/icons/png/icon-time.png");
}
/* line 226, ../../sass/pages/itinerary.sass */
.itinerary-box .departure-city {
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 1.4;
  border-top: 1px solid #E2E2E2;
  border-bottom: 1px solid #E2E2E2;
  padding: 15px 0px;
  padding-left: 20px;
}
/* line 234, ../../sass/pages/itinerary.sass */
.itinerary-box .departure-city a {
  font-size: 14px;
}
/* line 236, ../../sass/pages/itinerary.sass */
.itinerary-box .departure-city h6 {
  background-repeat: no-repeat;
  padding-left: 25px;
  background-position: 5px 10px;
  background-size: auto 10px;
  background-image: url("../images/base/icons/svg/icon-arrowlist.svg");
  background-position: left top 3px;
  text-transform: uppercase;
  color: #666666;
  letter-spacing: 0.5px;
}
/* line 17, ../../sass/base/_mixins.sass */
html.no-svg .itinerary-box .departure-city h6 {
  background-image: url("../images/base/icons/png/icon-arrowlist.png");
}
/* line 242, ../../sass/pages/itinerary.sass */
.itinerary-box .departure-city h6 b {
  text-transform: none;
  display: block;
}
/* line 245, ../../sass/pages/itinerary.sass */
.itinerary-box .departure-city small {
  line-height: 1;
}
/* line 247, ../../sass/pages/itinerary.sass */
.itinerary-box .departure-city.open {
  padding: 10px;
  border: 1px solid #D0001F;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
/* line 251, ../../sass/pages/itinerary.sass */
.itinerary-box .departure-city.open h6 {
  color: #D0001F;
}
/* line 253, ../../sass/pages/itinerary.sass */
.itinerary-box .departure-city #form-change-departurecity {
  margin-top: 10px;
}
@media (min-width: 768px) {
  /* line 226, ../../sass/pages/itinerary.sass */
  .itinerary-box .departure-city {
    padding-left: 0;
  }
}
/* line 257, ../../sass/pages/itinerary.sass */
.itinerary-box .next-apt {
  margin-top: 5px;
  margin-bottom: 15px;
}
/* line 260, ../../sass/pages/itinerary.sass */
.itinerary-box .return-checkbox {
  padding-left: 12px;
}
/* line 262, ../../sass/pages/itinerary.sass */
.itinerary-box .return-checkbox label {
  text-transform: none;
  font-weight: 400;
  width: auto;
}
/* line 266, ../../sass/pages/itinerary.sass */
.itinerary-box .return-checkbox label input {
  margin-right: 10px;
}
/* line 268, ../../sass/pages/itinerary.sass */
.itinerary-box.message {
  background-color: #00D097;
  color: #FFFFFF;
  background-repeat: no-repeat;
  padding-left: 70px;
  background-position: 5px 15px;
  background-size: auto 48px;
  background-image: url("../images/base/icons/svg/icon-happy.svg");
  background-position: left 15px top 35px;
  padding-bottom: 30px;
}
/* line 17, ../../sass/base/_mixins.sass */
html.no-svg .itinerary-box.message {
  background-image: url("../images/base/icons/png/icon-happy.png");
}
/* line 274, ../../sass/pages/itinerary.sass */
.itinerary-box.message .btn {
  margin-top: 15px;
}
@media (min-width: 768px) {
  /* line 268, ../../sass/pages/itinerary.sass */
  .itinerary-box.message {
    background-position: left 15px top 50%;
  }
}
/* line 279, ../../sass/pages/itinerary.sass */
.itinerary-box.open {
  background-color: #FFFFFF;
  color: #3C3C3C;
}
/* line 282, ../../sass/pages/itinerary.sass */
.itinerary-box.open .appointment-location {
  color: #666666;
}
/* line 284, ../../sass/pages/itinerary.sass */
.itinerary-box.open .calendar-icon {
  background-repeat: no-repeat;
  padding-left: 45px;
  background-position: 5px 15px;
  background-size: auto 28px;
  background-image: url("../images/base/icons/svg/icon-calendar.svg");
}
/* line 17, ../../sass/base/_mixins.sass */
html.no-svg .itinerary-box.open .calendar-icon {
  background-image: url("../images/base/icons/png/icon-calendar.png");
}
/* line 288, ../../sass/pages/itinerary.sass */
.itinerary-box.done .calendar-icon {
  background-repeat: no-repeat;
  padding-left: 45px;
  background-position: 5px 15px;
  background-size: auto 28px;
  background-image: url("../images/base/icons/svg/icon-calendar-checked.svg");
}
/* line 17, ../../sass/base/_mixins.sass */
html.no-svg .itinerary-box.done .calendar-icon {
  background-image: url("../images/base/icons/png/icon-calendar-checked.png");
}
/* line 290, ../../sass/pages/itinerary.sass */
.itinerary-box.done .change-link {
  display: block;
  cursor: pointer;
}
/* line 293, ../../sass/pages/itinerary.sass */
.itinerary-box.done .itinerary-card {
  padding-top: 5px;
}

/* line 298, ../../sass/pages/itinerary.sass */
.selected.itinerary-card {
  border: 1px solid #00D097;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
}

/* line 303, ../../sass/pages/itinerary.sass */
.itinerary-table-small-header {
  font-size: 12px;
  text-align: left;
  text-transform: uppercase;
  padding-left: 63px;
  border-top: 1px solid #E2E2E2;
  border-bottom: 1px solid #E2E2E2;
}
