/* SVG with fallback */
/* Icon inside button */
/* Icon inside list */
/* REM font */
/* Remove Appearance */
/* Give space for 30 px icon */
/* Padding remove/add on med screen */
/* Remove list stylings */
/* Border Radius cross browser */
/* Centered Box Shadow */
/* inset Box Shadow */
/* Bottom box shadow */
/* Card styles */
/* Css Elipsis */
/* Trip representation vehicles */
/* Breakpoints */
/* CSS rotate */
/* Add before element */
/* Add after element */
/* line 5, ../../sass/pages/traveloptions.sass */
#sidebar {
  flex-direction: column;
}

/* line 8, ../../sass/pages/traveloptions.sass */
#travel-content {
  color: #3C3C3C;
  min-height: 100px;
  padding: 0;
  position: relative;
  background: #FFFFFF;
  padding: 15px 20px;
  flex-direction: column;
}
/* line 16, ../../sass/pages/traveloptions.sass */
#travel-content h2 {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 10px;
}

/* line 24, ../../sass/pages/traveloptions.sass */
.travel-card .form-group,
.hotel-card .form-group {
  padding: 0px 15px;
  margin: 0;
}
/* line 27, ../../sass/pages/traveloptions.sass */
.travel-card label,
.hotel-card label {
  padding: 10px;
  margin: 0;
  border-top: 1px solid #E2E2E2;
}
/* line 31, ../../sass/pages/traveloptions.sass */
.travel-card label:hover,
.hotel-card label:hover {
  background-color: #F8F8F8;
}
/* line 33, ../../sass/pages/traveloptions.sass */
.travel-card .card-block,
.hotel-card .card-block {
  padding: 0;
}
/* line 35, ../../sass/pages/traveloptions.sass */
.travel-card .price,
.hotel-card .price {
  font-weight: bold;
  font-size: 16px;
  text-align: right;
}
/* line 39, ../../sass/pages/traveloptions.sass */
.travel-card .google-maps,
.hotel-card .google-maps {
  position: relative;
  height: 250px;
  overflow: hidden;
}
/* line 43, ../../sass/pages/traveloptions.sass */
.travel-card .google-maps iframe,
.hotel-card .google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
/* line 49, ../../sass/pages/traveloptions.sass */
.travel-card .card-header,
.hotel-card .card-header {
  font-family: Raleway, "Raleway", sans-serif;
  text-transform: uppercase;
  background: none;
}
/* line 53, ../../sass/pages/traveloptions.sass */
.travel-card .radio-container,
.hotel-card .radio-container {
  text-align: right;
  padding-top: 5px;
}
/* line 56, ../../sass/pages/traveloptions.sass */
.travel-card .radio-container input,
.hotel-card .radio-container input {
  display: inline-block;
}
@media (min-width: 544px) {
  /* line 53, ../../sass/pages/traveloptions.sass */
  .travel-card .radio-container,
  .hotel-card .radio-container {
    padding-top: 0;
  }
  /* line 60, ../../sass/pages/traveloptions.sass */
  .travel-card .radio-container input,
  .hotel-card .radio-container input {
    margin-left: 10px;
  }
}

/* line 64, ../../sass/pages/traveloptions.sass */
.traveloptions .appointment-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 68, ../../sass/pages/traveloptions.sass */
.traveloptions .appointment-list > li {
  background-repeat: no-repeat;
  padding-left: 45px;
  background-position: 5px 15px;
  background-size: auto 28px;
  background-image: url("../images/base/icons/svg/icon-calendar-checked.svg");
  color: #FFFFFF;
  border-top: 1px solid #62697a;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
  opacity: 0.5;
  cursor: normal;
}
/* line 17, ../../sass/base/_mixins.sass */
html.no-svg .traveloptions .appointment-list > li {
  background-image: url("../images/base/icons/png/icon-calendar-checked.png");
}
/* line 77, ../../sass/pages/traveloptions.sass */
.traveloptions .appointment-list > li .appointment-name {
  font-family: Raleway, "Raleway", sans-serif;
}
/* line 79, ../../sass/pages/traveloptions.sass */
.traveloptions .appointment-list > li .appointment-time {
  font-weight: 200;
  font-size: 14px;
  letter-spacing: 0.5px;
}
/* line 83, ../../sass/pages/traveloptions.sass */
.traveloptions .appointment-list > li .appointment-location {
  font-size: 14px;
  margin-bottom: 15px;
}
/* line 86, ../../sass/pages/traveloptions.sass */
.traveloptions .appointment-list > li .appointment-price {
  font-weight: 400;
  font-size: 14px;
  color: #EDEDED;
  text-align: right;
  padding-right: 35px;
}
/* line 92, ../../sass/pages/traveloptions.sass */
.traveloptions .appointment-list > li.active {
  background: #FFFFFF;
  overflow: hidden;
  color: #3C3C3C;
  cursor: normal;
  opacity: 1;
  padding-bottom: 0;
  background-repeat: no-repeat;
  padding-left: 45px;
  background-position: 5px 15px;
  background-size: auto 28px;
  background-image: url("../images/base/icons/svg/icon-trip-green.svg");
}
/* line 17, ../../sass/base/_mixins.sass */
html.no-svg .traveloptions .appointment-list > li.active {
  background-image: url("../images/base/icons/png/icon-trip-green.png");
}
/* line 100, ../../sass/pages/traveloptions.sass */
.traveloptions .appointment-list > li.active .appointment-price {
  color: #00D097;
}
/* line 102, ../../sass/pages/traveloptions.sass */
.traveloptions .appointment-list > li.done {
  opacity: 1;
  background-repeat: no-repeat;
  padding-left: 45px;
  background-position: 5px 15px;
  background-size: auto 28px;
  background-image: url("../images/base/icons/svg/icon-trip-white-checked.svg");
}
/* line 17, ../../sass/base/_mixins.sass */
html.no-svg .traveloptions .appointment-list > li.done {
  background-image: url("../images/base/icons/png/icon-trip-white-checked.png");
}
/* line 105, ../../sass/pages/traveloptions.sass */
.traveloptions .appointment-list > li.done .appointment-price {
  font-weight: bold;
}
/* line 107, ../../sass/pages/traveloptions.sass */
.traveloptions .appointment-list > li.done:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
/* line 110, ../../sass/pages/traveloptions.sass */
.traveloptions ul.steps {
  border-top: 1px solid #E2E2E2;
  margin: 0px -45px;
  padding: 0;
  list-style-type: none;
  background-color: #F8F8F8;
}
/* line 116, ../../sass/pages/traveloptions.sass */
.traveloptions ul.steps li {
  padding: 5px 10px;
  opacity: 0.6;
  cursor: normal;
  border-bottom: 1px solid #E2E2E2;
  background-repeat: no-repeat;
  padding-left: 45px;
  background-position: 5px 8px;
  background-size: auto 17px;
  background-image: url("../images/base/icons/svg/icon-trip.svg");
}
/* line 17, ../../sass/base/_mixins.sass */
html.no-svg .traveloptions ul.steps li {
  background-image: url("../images/base/icons/png/icon-trip.png");
}
/* line 122, ../../sass/pages/traveloptions.sass */
.traveloptions ul.steps li.flight {
  background-repeat: no-repeat;
  padding-left: 45px;
  background-position: 5px 8px;
  background-size: auto 17px;
  background-image: url("../images/base/icons/svg/icon-plane.svg");
}
/* line 17, ../../sass/base/_mixins.sass */
html.no-svg .traveloptions ul.steps li.flight {
  background-image: url("../images/base/icons/png/icon-plane.png");
}
/* line 124, ../../sass/pages/traveloptions.sass */
.traveloptions ul.steps li.flight.active {
  background-repeat: no-repeat;
  padding-left: 45px;
  background-position: 5px 8px;
  background-size: auto 17px;
  background-image: url("../images/base/icons/svg/icon-plane-white.svg");
}
/* line 17, ../../sass/base/_mixins.sass */
html.no-svg .traveloptions ul.steps li.flight.active {
  background-image: url("../images/base/icons/png/icon-plane-white.png");
}
/* line 126, ../../sass/pages/traveloptions.sass */
.traveloptions ul.steps li.flight.done {
  background-repeat: no-repeat;
  padding-left: 45px;
  background-position: 5px 8px;
  background-size: auto 17px;
  background-image: url("../images/base/icons/svg/icon-plane-checked.svg");
}
/* line 17, ../../sass/base/_mixins.sass */
html.no-svg .traveloptions ul.steps li.flight.done {
  background-image: url("../images/base/icons/png/icon-plane-checked.png");
}
/* line 128, ../../sass/pages/traveloptions.sass */
.traveloptions ul.steps li.train {
  background-repeat: no-repeat;
  padding-left: 45px;
  background-position: 5px 8px;
  background-size: auto 17px;
  background-image: url("../images/base/icons/svg/icon-train.svg");
}
/* line 17, ../../sass/base/_mixins.sass */
html.no-svg .traveloptions ul.steps li.train {
  background-image: url("../images/base/icons/png/icon-train.png");
}
/* line 130, ../../sass/pages/traveloptions.sass */
.traveloptions ul.steps li.train.active {
  background-repeat: no-repeat;
  padding-left: 45px;
  background-position: 5px 8px;
  background-size: auto 17px;
  background-image: url("../images/base/icons/svg/icon-train-white.svg");
}
/* line 17, ../../sass/base/_mixins.sass */
html.no-svg .traveloptions ul.steps li.train.active {
  background-image: url("../images/base/icons/png/icon-train-white.png");
}
/* line 132, ../../sass/pages/traveloptions.sass */
.traveloptions ul.steps li.train.done {
  background-repeat: no-repeat;
  padding-left: 45px;
  background-position: 5px 8px;
  background-size: auto 17px;
  background-image: url("../images/base/icons/svg/icon-train-checked.svg");
}
/* line 17, ../../sass/base/_mixins.sass */
html.no-svg .traveloptions ul.steps li.train.done {
  background-image: url("../images/base/icons/png/icon-train-checked.png");
}
/* line 134, ../../sass/pages/traveloptions.sass */
.traveloptions ul.steps li.hotel {
  background-repeat: no-repeat;
  padding-left: 45px;
  background-position: 5px 8px;
  background-size: auto 17px;
  background-image: url("../images/base/icons/svg/icon-hotel.svg");
}
/* line 17, ../../sass/base/_mixins.sass */
html.no-svg .traveloptions ul.steps li.hotel {
  background-image: url("../images/base/icons/png/icon-hotel.png");
}
/* line 136, ../../sass/pages/traveloptions.sass */
.traveloptions ul.steps li.hotel.active {
  background-repeat: no-repeat;
  padding-left: 45px;
  background-position: 5px 8px;
  background-size: auto 17px;
  background-image: url("../images/base/icons/svg/icon-hotel-white.svg");
}
/* line 17, ../../sass/base/_mixins.sass */
html.no-svg .traveloptions ul.steps li.hotel.active {
  background-image: url("../images/base/icons/png/icon-hotel-white.png");
}
/* line 138, ../../sass/pages/traveloptions.sass */
.traveloptions ul.steps li.hotel.done {
  background-repeat: no-repeat;
  padding-left: 45px;
  background-position: 5px 8px;
  background-size: auto 17px;
  background-image: url("../images/base/icons/svg/icon-hotel-checked.svg");
}
/* line 17, ../../sass/base/_mixins.sass */
html.no-svg .traveloptions ul.steps li.hotel.done {
  background-image: url("../images/base/icons/png/icon-hotel-checked.png");
}
/* line 140, ../../sass/pages/traveloptions.sass */
.traveloptions ul.steps li.active {
  background-color: #00D097;
  color: #FFFFFF;
  opacity: 1;
  cursor: normal;
}
/* line 145, ../../sass/pages/traveloptions.sass */
.traveloptions ul.steps li.done {
  opacity: 1;
}
/* line 147, ../../sass/pages/traveloptions.sass */
.traveloptions ul.steps li.done:hover {
  background-color: #FFFFFF;
  cursor: pointer;
}
/* line 150, ../../sass/pages/traveloptions.sass */
.traveloptions .hotel-list {
  margin-top: 30px;
  margin-bottom: 20px;
}
/* line 153, ../../sass/pages/traveloptions.sass */
.traveloptions .hotel-list .title {
  font-weight: 400;
  margin-bottom: 15px;
}
/* line 156, ../../sass/pages/traveloptions.sass */
.traveloptions .hotel-list .hotel-name {
  font-weight: 600;
  padding-top: 6px;
}
/* line 159, ../../sass/pages/traveloptions.sass */
.traveloptions .hotel-list .hotel-stars {
  padding-top: 6px;
}
/* line 161, ../../sass/pages/traveloptions.sass */
.traveloptions .hotel-list i {
  background-repeat: no-repeat;
  padding-left: 0px;
  background-position: 5px 0px;
  background-size: auto 15px;
  background-image: url("../images/base/icons/svg/icon-star.svg");
  height: 18px;
  width: 18px;
  background-position: left center;
  margin-top: 3px;
}
/* line 17, ../../sass/base/_mixins.sass */
html.no-svg .traveloptions .hotel-list i {
  background-image: url("../images/base/icons/png/icon-star.png");
}
/* line 167, ../../sass/pages/traveloptions.sass */
.traveloptions .hotel-list .hotel-price {
  white-space: nowrap;
}
/* line 169, ../../sass/pages/traveloptions.sass */
.traveloptions .hotel-list .radio-area {
  text-align: center;
  margin-bottom: 20px;
}
/* line 172, ../../sass/pages/traveloptions.sass */
.traveloptions .hotel-list .card-photo {
  text-align: center;
  max-height: 150px;
  overflow: hidden;
  padding: 0;
  background-color: #F8F8F8;
  border-bottom: 1px solid #E2E2E2;
}
/* line 179, ../../sass/pages/traveloptions.sass */
.traveloptions .hotel-list .card-photo img {
  max-width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  /* line 172, ../../sass/pages/traveloptions.sass */
  .traveloptions .hotel-list .card-photo {
    background: none;
    bordeR: none;
    max-height: auto;
    overflow: visible;
  }
}
/* line 187, ../../sass/pages/traveloptions.sass */
.traveloptions .hotel-list .hotel-info {
  padding: 10px 25px;
  font-size: 1em;
}
/* line 190, ../../sass/pages/traveloptions.sass */
.traveloptions .hotel-list .hotel-info .location {
  background-repeat: no-repeat;
  padding-left: 25px;
  background-position: 5px 0px;
  background-size: auto 16px;
  background-image: url("../images/base/icons/svg/icon-location.svg");
  color: #666666;
  font-size: 12px;
  display: block;
  margin-top: 10px;
  margin-bottom: 15px;
}
/* line 17, ../../sass/base/_mixins.sass */
html.no-svg .traveloptions .hotel-list .hotel-info .location {
  background-image: url("../images/base/icons/png/icon-location.png");
}
/* line 198, ../../sass/pages/traveloptions.sass */
.traveloptions .trip-selection {
  font-size: 12px;
  opacity: 0.8;
}

/* line 205, ../../sass/pages/traveloptions.sass */
.total-row {
  border-top: 1px solid #E2E2E2;
  border-bottom: 1px solid #E2E2E2;
  padding: 10px 0px;
  display: block;
  margin-bottom: 15px;
}
/* line 211, ../../sass/pages/traveloptions.sass */
.total-row div {
  font-family: Raleway, "Raleway", sans-serif;
}
/* line 213, ../../sass/pages/traveloptions.sass */
.total-row .total-price {
  color: #00D097;
}

/* line 216, ../../sass/pages/traveloptions.sass */
.cta-row {
  margin-top: 20px;
}
/* line 218, ../../sass/pages/traveloptions.sass */
.cta-row .prev {
  text-align: left;
}
/* line 220, ../../sass/pages/traveloptions.sass */
.cta-row .next {
  text-align: right;
}
