/* SVG with fallback */
/* Icon inside button */
/* Icon inside list */
/* REM font */
/* Remove Appearance */
/* Give space for 30 px icon */
/* Padding remove/add on med screen */
/* Remove list stylings */
/* Border Radius cross browser */
/* Centered Box Shadow */
/* inset Box Shadow */
/* Bottom box shadow */
/* Card styles */
/* Css Elipsis */
/* Trip representation vehicles */
/* Breakpoints */
/* CSS rotate */
/* Add before element */
/* Add after element */
/* line 5, ../../sass/pages/traveloptions.sass */
#sidebar {
  flex-direction: column;
}

/* line 8, ../../sass/pages/traveloptions.sass */
#travel-content {
  color: #3C3C3C;
  min-height: 100px;
  padding: 0;
  position: relative;
  background: #FFFFFF;
  padding: 15px 20px;
  flex-direction: column;
}
/* line 16, ../../sass/pages/traveloptions.sass */
#travel-content h2 {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 10px;
}

/* line 23, ../../sass/pages/traveloptions.sass */
.travel-card .price {
  font-weight: bold;
  font-size: 16px;
}
/* line 26, ../../sass/pages/traveloptions.sass */
.travel-card .google-maps {
  position: relative;
  height: 250px;
  overflow: hidden;
}
/* line 30, ../../sass/pages/traveloptions.sass */
.travel-card .google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
/* line 36, ../../sass/pages/traveloptions.sass */
.travel-card .card-header {
  font-family: Raleway, "Raleway", sans-serif;
  text-transform: uppercase;
  background: none;
}
/* line 40, ../../sass/pages/traveloptions.sass */
.travel-card .radio-container {
  text-align: right;
  padding-top: 5px;
}
/* line 43, ../../sass/pages/traveloptions.sass */
.travel-card .radio-container input {
  display: inline-block;
}
@media (min-width: 544px) {
  /* line 40, ../../sass/pages/traveloptions.sass */
  .travel-card .radio-container {
    padding-top: 0;
  }
  /* line 47, ../../sass/pages/traveloptions.sass */
  .travel-card .radio-container input {
    margin-left: 10px;
  }
}

/* line 51, ../../sass/pages/traveloptions.sass */
.appointment-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 55, ../../sass/pages/traveloptions.sass */
.appointment-list li {
  background-repeat: no-repeat;
  padding-left: 45px;
  background-position: 5px 15px;
  background-size: auto 28px;
  background-image: url("../images/base/icons/svg/icon-plane-white.svg");
  color: #FFFFFF;
  border-top: 1px solid #62697a;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
  opacity: 0.5;
}
/* line 17, ../../sass/base/_mixins.sass */
html.no-svg .appointment-list li {
  background-image: url("../images/base/icons/png/icon-plane-white.png");
}
/* line 63, ../../sass/pages/traveloptions.sass */
.appointment-list li .appointment-name {
  font-family: Raleway, "Raleway", sans-serif;
  font-weight: 600;
}
/* line 66, ../../sass/pages/traveloptions.sass */
.appointment-list li .appointment-time {
  font-weight: 200;
  font-size: 14px;
  letter-spacing: 0.5px;
}
/* line 70, ../../sass/pages/traveloptions.sass */
.appointment-list li .appointment-location {
  font-size: 14px;
  margin-bottom: 15px;
}
/* line 73, ../../sass/pages/traveloptions.sass */
.appointment-list li .appointment-price {
  font-weight: 400;
  font-size: 14px;
  color: #EDEDED;
  text-align: right;
  padding-right: 35px;
}
/* line 79, ../../sass/pages/traveloptions.sass */
.appointment-list li.active {
  background: #FFFFFF;
  color: #3C3C3C;
  opacity: 1;
  background-repeat: no-repeat;
  padding-left: 45px;
  background-position: 5px 15px;
  background-size: auto 28px;
  background-image: url("../images/base/icons/svg/icon-plane-green.svg");
}
/* line 17, ../../sass/base/_mixins.sass */
html.no-svg .appointment-list li.active {
  background-image: url("../images/base/icons/png/icon-plane-green.png");
}
/* line 84, ../../sass/pages/traveloptions.sass */
.appointment-list li.active .appointment-price {
  color: #00D097;
}
/* line 86, ../../sass/pages/traveloptions.sass */
.appointment-list li.done {
  opacity: 1;
  background-repeat: no-repeat;
  padding-left: 45px;
  background-position: 5px 15px;
  background-size: auto 28px;
  background-image: url("../images/base/icons/svg/icon-plane-checked.svg");
}
/* line 17, ../../sass/base/_mixins.sass */
html.no-svg .appointment-list li.done {
  background-image: url("../images/base/icons/png/icon-plane-checked.png");
}
/* line 89, ../../sass/pages/traveloptions.sass */
.appointment-list li.done .appointment-price {
  font-weight: bold;
}

/* line 93, ../../sass/pages/traveloptions.sass */
.row-flex-wrap {
  -webkit-flex-flow: row wrap;
  align-content: flex-start;
  flex: 0;
}

/* line 98, ../../sass/pages/traveloptions.sass */
.row-flex, .row-flex > div[class*='col-'] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 1 1 auto;
}
