body
  background-color: $color-bg
#wrapper
  display: flex
  min-height: 100vh
  flex-direction: column
header
  background-color: $color-lightest
#main
  flex: 1

ol, ul, li
  margin: 0

#nav
  a
    font-family: Raleway, "Raleway", sans-serif
  ul
    display: table
    table-layout: fixed
    height: 100%
    width: 100%
    li
      display: table-cell
      height: 56px
      position: relative
      a
        width: 100%
        text-align: center
        position: absolute
        bottom: 0
        left: 0
        padding-bottom: 10px
        text-transform: uppercase
        color: $color-darkest
      &.active
        a
          border-bottom: 3px solid $color-primary


#logo
  min-height: 40px
  padding-top: 15px
  padding-bottom: 5px
  margin-left: -6px
  a
    display: inline-block
    min-height: 30px
    width: 100%
    +svg-bg-with-fallback('logo', 'base/logo/')
    background-position: center center
  +breakpoint(sm)
    text-align: left
    a
      width: 136px


footer
  background-color: $color-secondary
  color: $color-lightest
  padding-top: 40px
  padding-bottom: 80px
  a
    color: $color-lightest
    &:hover
      color: $color-lightest
  .footer-info-area
    text-align: center
  .social-media-area
    text-align: center
  +breakpoint(md)
    .footer-info-area
      text-align: left
    .social-media-area
      text-align: right


.card
  overflow: hidden
  color: $color-darkest
  position: relative
  .card-title
    color: $color-darkest
  label
    color: $color-darkest
    font-size: 12px
    font-weight: 400

.no-padding
  padding: 0

.separate
  display: block
  height: 40px
  width: 100%

.section-padding
  padding-top: 80px
  padding-bottom: 80px

.cta-container
  .btn
    display: inline-block
    width: auto
    clear:both
  small
    display: block
    clear: both
    margin-top: 5px
  text-align: center
  +breakpoint(md)
    text-align: right

i
  display: inline-block
  height: 22px
  width: 22px
  position: relative

.date-selector
  .date
    padding-right: 5px
  .time
    padding-left: 5px