#nav
  display: inline-block
  text-align: center
  ul
    display: table
    margin: 0
    padding: 0
    table-layout: fixed
    text-align: center
    width: 100%
  li
    display: table-cell
    list-style-type: none
    text-transform: uppercase
    font-size: 14px
    margin: 0
    padding: 0
    a
      display: block
      font-family: Raleway, "Raleway", sans-serif
      color: $color-darkest
      font-weight: 400
    &.active
      border-bottom: 3px solid $color-primary
      a
        color: $color-primary
        font-weight: 600
  +breakpoint(sm)
    li
      height: 50px
      position: relative
      a
        position: absolute
        bottom: 5px
        width: 100%
        padding-bottom: 5px


#logo
  min-height: 40px
  padding-top: 10px
  padding-bottom: 10px
  a
    display: inline-block
    min-height: 30px
    width: 100%
    +svg-bg-with-fallback('logo', 'base/logo/')
    background-position: center center
  +breakpoint(sm)
    text-align: left
    a
      width: 136px


#footer
  background-color: $color-secondary
  color: $color-lightest
  padding-top: 40px
  padding-bottom: 80px
  a
    color: $color-lightest
    &:hover
      color: $color-lightest
  .footer-info-area
    text-align: center
  .social-media-area
    text-align: center
  +breakpoint(md)
    .footer-info-area
      text-align: left
    .social-media-area
      text-align: right


.card
  overflow: hidden
  color: $color-darkest
  position: relative
  .card-title
    color: $color-darkest
  label
    color: $color-darkest
    font-size: 12px
    font-weight: 400


.card-widget
  .card-edit
    position: absolute
    right: 5px
    top: 15px
    +breakpoint(md)
      position: relative
      top: 0
      right: 0
  &.open
    background-color: $color-light-gray
  &.closed
    line-height: 1.2
    padding: 15px 0px
    p
      font-family: Raleway, "Raleway", sans-serif
      margin: 0
    a
      color: $color-darkest
      font-family: Raleway, "Raleway", sans-serif
      text-transform: uppercase
      font-weight: 600
      font-size: 13px
      cursor: pointer
  .card-header
    background-color: $color-lightest
    color: $color-darkest
    font-family: Raleway, "Raleway", sans-serif
    text-transform: uppercase
    font-weight: 600
    small
      font-weight: 400
      display: block
  &.card-appointment
    padding-bottom: 10px
    .appointment-date
      font-weight: 600
    &.open
      border: 2px solid green
    &.closed
      background-color: $color-light-gray
      padding-top: 0px
      +breakpoint(lg)
        padding-top: 15px
        background-color: $color-lightest

.no-padding
  padding: 0

.separate
  display: block
  height: 40px
  width: 100%

.section-padding
  padding-top: 80px
  padding-bottom: 80px

i
  display: inline-block
  height: 22px
  width: 22px
  position: relative

.date-selector
  .date
    padding-right: 5px
  .time
    padding-left: 5px