@import base/_variables
@import base/_mixins
@import base/_colors

.booking-box
  .sidebar
    +breakpoint(md)
      border-bottom: none
      background: lighten($color-light-gray, 2)
  background: $color-lightest
  color: $color-darkest
  .cta
    margin-top: 25px
    +breakpoint(md)
      margin-top: 0px
  .booking-content
    padding: 0px 15px
    flex-direction: row
    flex: 1
    +breakpoint(md)
      border-left: 1px solid $color-gray
    .booking-item-details
      *
        font-family: Raleway, "Raleway", sans-serif
        padding: 0px 5px
      span
        display: block
        padding: 0px
        color: $color-dark-gray
        font-size: 12px
    .hour
      font-size: 14px
      color: $color-dark-gray
      line-height: 1
      margin: 0
      padding: 0
    .connection
      font-size: 24px
      font-family: Raleway, "Raleway", sans-serif
      padding: 0
      margin-bottom: 0
      line-height: 1.2
      margin-top: 5px
      margin-bottom: 10px
    .price
      font-size: 24px
      font-weight: 600
      font-family: Raleway, "Raleway", sans-serif
      margin-top: 8px
      margin-bottom: 15px
      small
        font-size: 14px
        font-weight: 400
        +breakpoint(sm)
          display: none
      +breakpoint(md)
        text-align: left
        padding-left: 12%
      +breakpoint(lg)
        text-align: right
        padding-left: 0
        font-weight: 400

.big-date
  text-align: center
  padding-top: 25px
  padding-bottom: 25px
  border-right: 1px solid $color-gray
  background-color: $color-lightest
  .date-weekday
    font-size: 14px
    display: block
    line-height: 1
    font-weight: 600
    margin-bottom: 0
  .date-day
    font-weight: 600
    font-size: 50px
    display: block
    line-height: 1
  .date-month
    font-size: 14px
    text-transform: uppercase
    font-weight: 600
    display: block
    line-height: 1
  +breakpoint(sm)
    .date-weekday
      font-size: 24px
      display: block
      line-height: 1
      font-weight: 600
      margin-bottom: 0
    .date-day
      font-weight: 600
      font-size: 100px
      display: block
      line-height: 1
    .date-month
      font-size: 24px
      text-transform: uppercase
      font-weight: 600
      display: block
      line-height: 1
  +breakpoint(md)
    border-right: none
    border-bottom: 1px solid $color-gray

#date-links
  border-top: 1px solid $color-gray
  +breakpoint(md)
    margin-top: -1px
  a
    display: block
    padding: 10px 15px
    border-bottom: 1px solid $color-gray
    background-color: lighten($color-light-gray, 2)
    &:hover
      background-color: $color-lightest
  .separator
    display: block
    padding: 10px 15px
    font-weight: bold
    font-size: 12px
    text-transform: uppercase
    color: $color-darkest
    border-bottom: 1px solid $color-gray
    background-color: darken($color-light-gray, 2)


.booking-details-list
  list-style-type: none
  margin: 0
  padding: 0
  .cta-container
    .btn
      width: 100%
  &>li
    border-bottom: 1px solid $color-gray
    margin-bottom: 15px
    padding-bottom: 15px
  .appointment
    +icon-for-button('icon-calendar','base/icons/',50px,50%,28px)
    background-position: left 10px top 0px
  .hotel
    +icon-for-button('icon-hotel','base/icons/',50px,50%,28px)
    background-position: left 10px top 0px
  .flight
    +icon-for-button('icon-plane','base/icons/',50px,50%,28px)
    background-position: left 10px top 0px
  .train
    +icon-for-button('icon-train','base/icons/',50px,50%,28px)
    background-position: left 10px top 0px
  .bus
    +icon-for-button('icon-bus','base/icons/',50px,50%,28px)
    background-position: left 10px top 0px
  .taxi
    +icon-for-button('icon-taxi','base/icons/',50px,50%,28px)
    background-position: left 10px top 0px
  .costs
    +icon-for-button('icon-extracosts','base/icons/',50px,50%,28px)
    background-position: left 10px top 0px
  p
    margin: 0
    padding: 0
    &.date
      color: $color-dark-gray
      font-family: 'Raleway'
    &.title
      font-size: 22px
      font-weight: 400
      font-family: 'Raleway'
      display: block
      margin-bottom: 10px
    &.alternatives
      margin-bottom: 5px
      font-size: 12px

#bookings-content
  padding-top: 15px

.booking-row
  .booking-data
    opacity: 0.7
    list-style-type: none
    border-bottom: none
    margin: 0
    padding: 0
    +breakpoint(md)
      display: -webkit-box
      display: -moz-box
      display: -ms-flexbox
      display: -webkit-flex
      display: flex
      -webkit-flex-flow: row
      flex-flow: row
  h5.title
    margin-top: 15px
    font-size: 12px
    margin-bottom: 5px
    color: $color-dark-gray
  .extra-costs
    color: $color-dark-gray
    margin-bottom: 20px
    li
      border-bottom: 1px solid $color-light-gray
      margin-top: 5px
      &:last-child
        border-bottom: none
    list-style-type: none
    padding-top:  5px
    h4
      font-weight: normal
      font-size: 14px
    .price
      font-size: 14px
      margin: 0
      padding: 0
      padding-right: 5px
  .cta-container
    small
      margin-top: 0px

.top-btn
  display: inline-block
  height: 40px
  width: 40px
  padding: 5px
  margin: 3px
  +border-radius(3px)
  border: 1px solid $color-gray
  &.email-btn
    +icon-for-button('icon-mail','base/icons/',0px,50%,30px)
    background-position: center center
  &.print-btn
    +icon-for-button('icon-print','base/icons/',0px,50%,30px)
    background-position: center center
  &:hover,
  &:focus
    background-color: lighten($color-bg, 2)
    +box-shadow-centered

#booking-sidebar-appointments
  border-left: 1px solid $color-gray
  margin-left: -1px
  .appointment-name
    font-size: 13px
    +icon-for-button('icon-calendar','base/icons/',35px,50%,18px)
    padding-top: 15px
    padding-bottom: 15px
    border-bottom: 1px solid $color-gray
    background-color: $color-lightest
    color: $color-dark-gray
    font-style: italic


ul.booking-group
  list-style-type: none
  margin: 0
  padding: 0px
  li
    list-style-type: none
  .day
    padding: 8px 10px
    padding-left: 62px
    margin-top: 10px
    margin-bottom: 5px
    text-transform: uppercase
    color: $color-dark-gray
    letter-spacing: 1.5px
    background-color: $color-bg
  .cta
    text-align: center
    margin-top: 0
    .btn
      width: 100%
    +breakpoint(md)
      text-align: right
      .btn
        width: auto
  .leg-header
    padding-top: 10px
    padding-bottom: 4px
    .time
      color: rgba($color-dark-gray, 0.7)
      font-size: 1em
    .title
      font-size: 1.2em
      color: $color-darkest
      padding-left: 9%
      min-height: 28px
      font-weight: 500
      line-height: 1em
      +breakpoint(lg)
        padding-left: 40px
      &:before
        position: absolute
        left: -5px
        top: 0
        height: 28px
        width: 28px
        content: ''
    &.walk .title:before
      +icon-for-button('icon-walk','base/icons/',50px,50%,28px)
    &.hotel .title:before
      +icon-for-button('icon-hotel','base/icons/',50px,50%,28px)
    &.plane .title:before
      +icon-for-button('icon-plane','base/icons/',50px,50%,28px)
    &.meeting .title:before
      +icon-for-button('icon-calendar','base/icons/',50px,50%,28px)
    &.train .title:before
      +icon-for-button('icon-train','base/icons/',50px,50%,28px)
  .leg-content
    position: relative
    padding-bottom: 15px
    &:before
      content: ''
      border-right: 2px dotted rgba($color-darkest, 0.4)
      height: 100%
      position: absolute
      margin: 0
      padding: 0
      left: 16.666%
      +breakpoint(lg)
        left: 8%
    .content
      padding-left: 40px
    .cta
      padding-left: 0px
    .btn
      margin-top: 5px
      clear: both
      padding: 5px 20px
  .leg:last-child
    .leg-content:before
      display: none




