@import base/_variables
@import base/_mixins
@import base/_colors

.booking-box
  .sidebar
    border-bottom: 1px solid $color-gray
    +breakpoint(md)
      border-bottom: none
      background: lighten($color-light-gray, 2)
  background: $color-lightest
  color: $color-darkest
  .booking-content
    padding: 0px 15px
    flex-direction: row
    flex: 1
    +breakpoint(md)
      border-left: 1px solid $color-gray
    .booking-item-details
      *
        font-family: Raleway, "Raleway", sans-serif
        padding: 0px 5px
      span
        display: block
        padding: 0px
        color: $color-dark-gray
        font-size: 12px
    .hour
      font-size: 14px
      color: $color-dark-gray
      line-height: 1
      margin: 0
      padding: 0
    .connection
      font-size: 24px
      font-family: Raleway, "Raleway", sans-serif
      padding: 0
      margin-bottom: 0
      line-height: 1.2
      margin-top: 5px
      margin-bottom: 10px
    .price
      font-size: 24px
      font-weight: 600
      font-family: Raleway, "Raleway", sans-serif
      margin-top: 8px
      margin-bottom: 15px
      small
        font-size: 14px
        font-weight: 400
        +breakpoint(sm)
          display: none
      +breakpoint(md)
        text-align: left
        padding-left: 12%
      +breakpoint(lg)
        text-align: right
        padding-left: 0
        font-weight: 400

.big-date
  text-align: center
  padding-top: 25px
  padding-bottom: 25px
  border-right: 1px solid $color-gray
  background-color: $color-lightest
  .date-weekday
    font-size: 14px
    display: block
    line-height: 1
    font-weight: 600
    margin-bottom: 0
  .date-day
    font-weight: 600
    font-size: 50px
    display: block
    line-height: 1
  .date-month
    font-size: 14px
    text-transform: uppercase
    font-weight: 600
    display: block
    line-height: 1
  +breakpoint(sm)
    .date-weekday
      font-size: 24px
      display: block
      line-height: 1
      font-weight: 600
      margin-bottom: 0
    .date-day
      font-weight: 600
      font-size: 100px
      display: block
      line-height: 1
    .date-month
      font-size: 24px
      text-transform: uppercase
      font-weight: 600
      display: block
      line-height: 1
  +breakpoint(md)
    border-right: none
    border-bottom: 1px solid $color-gray

.date-links
  a
    display: block
    padding: 10px 15px
    border-bottom: 1px solid $color-gray
    background-color: $color-lightest
    &:hover
      background-color: $color-light-gray

.booking-box-item
  font-family: Raleway, "Raleway", sans-serif
  display: block
  flex-direction: column
  padding: 25px 0px 30px 0px
  position: relative
  overflow: hidden
  +before(1px, 100%, absolute, 0%, 100%, inline-block)
  &:before
    background-color: $color-gray
    margin-top: -1px
  &:last-child
    &:before
      display: none
  +breakpoint(sm)
    &:before
      left: 7.5%

  .row
    width: 100%
    display: block
  .cta-container
    margin-top: 25px
    .btn
      margin-top: 25px
    +breakpoint(sm)
      border-top: none
      padding-right: 15px
      margin-top: 0
      .btn
        margin-top: 0
  &.flight
    .icon
      +icon-for-button('icon-plane-green','base/icons/',45px,50%,28px)
      background-position: center top 10px
      min-height: 80px
  &.taxi
    .icon
      +icon-for-button('icon-taxi','base/icons/',45px,50%,28px)
      background-position: center top 10px
      opacity: 0.5
      min-height: 80px
    .price
      opacity: 0.4
  &.appointment
    .icon
      +icon-for-button('icon-date-green','base/icons/',45px,50%,28px)
      background-position: center top 10px
      min-height: 80px
    .location
      +icon-for-button('icon-location','base/icons/',30px,2px,18px)
      margin-bottom: 0
      a
        font-size: 14px
        padding: 0
        margin: 0
  &.hotel
    .icon
      +icon-for-button('icon-hotel-green','base/icons/',45px,50%,28px)
      background-position: center top 10px
      min-height: 80px
    .nights
      +icon-for-button('icon-nights','base/icons/',30px,2px,18px)
      margin-bottom: 0
    .room
      +icon-for-button('icon-room','base/icons/',30px,2px,18px)
      margin-bottom: 0
    .location
      +icon-for-button('icon-location','base/icons/',30px,2px,18px)
      margin-bottom: 0
      a
        font-size: 14px
        padding: 0
        margin: 0