@import base/_variables
@import base/_mixins
@import base/_colors

.index
  #widget-container
    margin-top: -6px
    background-color: $color-secondary
    color: $color-lightest
    padding: 40px 0px
    width: 100%
    display: block
    h2
      color: $color-lightest
      font-weight: 600
      font-size: 18px
    +breakpoint(sm)
      padding: 80px 0px
    #widget-form
      margin-top: 20px
    .appointment-card-side
      border-bottom: 1px solid $color-gray
      padding-bottom: 15px
      margin-bottom: 15px
      background-position: left 5px top 40%
      background-color: $color-lightest
      padding-top: 15px
      +breakpoint(lg)
        padding-top: 0px
        border: none
        padding-bottom: 0px
        margin-bottom: 0px
        border-right: 1px solid $color-gray