@import base/_variables
@import base/_mixins
@import base/_colors

.progress-bar

.info-bar
  div, p, a
    font-family: Raleway, "Raleway", sans-serif
  padding-top: 30px
  padding-bottom: 30px
  b
    font-weight: 600
  .cta-container
    margin-top: 5px
  .btn
    background: $color-secondary
    color: $color-lightest
    text-transform: uppercase
    font-family: Raleway, "Raleway", sans-serif


.content-box
  margin-top: 10px
  padding: 0px 15px
  background: $color-secondary
  color: $color-lightest
  .content-box-title
    font-size: 14px
    color: $color-lightest
    font-weight: 400
    letter-spacing: 1px
    margin-top: 15px
    margin-bottom: 15px


.itinerary-box
  padding-left: 0px
  background-color: $color-lightest
  color: $color-darkest
  padding-top: 30px
  padding-bottom: 15px
  .appointment-name
    font-family: Raleway, "Raleway", sans-serif
  .appointment-time
    font-weight: 200
    font-size: 14px
    letter-spacing: 0.5px
  .appointment-location
    font-size: 14px
    color: $color-dark-gray
  .card
    +box-shadow-centered
    .card-header
      background: $color-lightest
  .itinerary-card
    div
      font-family: Raleway, "Raleway", sans-serif
    small
      color: $color-dark-gray
      display: block
    text-align: center
    +breakpoint(md)
      text-align: left
  .price
    font-size: 18px
    color: $color-primary
    font-family: Raleway, "Raleway", sans-serif
    font-weight: 600