@import base/_variables
@import base/_mixins
@import base/_colors

.progress-bar

.info-bar
  div, p, a
    font-family: Raleway, "Raleway", sans-serif
  padding-top: 30px
  padding-bottom: 30px
  b
    font-weight: 600
  .cta-container
    margin-top: 5px
  .btn
    background: $color-secondary
    color: $color-lightest
    text-transform: uppercase
    font-family: Raleway, "Raleway", sans-serif


.content-box
  margin-top: 10px
  padding: 0px 15px
  background: $color-secondary
  color: $color-lightest
  margin-bottom: 30px
  .content-box-title
    font-size: 14px
    color: $color-lightest
    font-weight: 400
    letter-spacing: 1px
    margin-top: 15px
    margin-bottom: 15px


.itinerary-box
  padding-left: 0px
  color: $color-lightest
  padding-top: 30px
  padding-bottom: 15px
  .appointment-name
    font-family: Raleway, "Raleway", sans-serif
  .appointment-time
    font-weight: 200
    font-size: 14px
    letter-spacing: 0.5px
  .appointment-location
    font-size: 14px
    margin-bottom: 15px
  .card
    +box-shadow-centered
    .card-header
      background: $color-lightest
  .itinerary-card
    div
      font-family: Raleway, "Raleway", sans-serif
    small
      color: $color-dark-gray
      display: block
    text-align: center
    +breakpoint(md)
      text-align: left
  .price
    font-size: 18px
    font-family: Raleway, "Raleway", sans-serif
    font-weight: 600
    small
      margin-bottom: 0
      display: block
    &.price-large
      font-size: 22px
  .change-link
    display: none
    a
      font-size: 14px
      font-family: Raleway, "Raleway", sans-serif
      font-weight: 600
  .radio-container
    text-align: center
    width: 100%
    input
      height: 22px
      width: 22px
      margin-left: 2px
      margin-top: 5px
      +breakpoint(md)
        margin-top: 12px
  .itinerary-table
    div
      margin-bottom: 10px
      font-size: 14px
      +breakpoint(md)
        margin-bottom: 0
        font-size: 16px
  .calendar-icon
    +icon-for-button('icon-calendar-white','base/icons/',45px,15px,28px)

  &.open
    background-color: $color-lightest
    color: $color-darkest
    .appointment-location
      color: $color-dark-gray
    .calendar-icon
      +icon-for-button('icon-calendar','base/icons/',45px,15px,28px)

  &.done
    .calendar-icon
      +icon-for-button('icon-calendar-green','base/icons/',45px,15px,28px)
    .change-link
      display: block
      cursor: pointer