@import base/_variables
@import base/_mixins
@import base/_colors

.info-bar
  div, p, a
    font-family: Raleway, "Raleway", sans-serif
  padding-top: 30px
  padding-bottom: 30px
  b
    font-weight: 600
  .cta-container
    margin-top: 5px
  .btn
    background: $color-secondary
    color: $color-lightest
    text-transform: uppercase
    font-family: Raleway, "Raleway", sans-serif


.itinerary
  .appointment-list
    ul,
    li:not(.row)
      list-style-type: none
      margin: 0
      padding: 0
      line-height: 1.2
    .appointment-name
      font-weight: 600
    .appointment-price 
      text-align: right
    .appointment-location
      line-height: 1.1
      opacity: 0.5
      margin-bottom: 10px
    .selection-description
      margin-top: 5px
      padding: 5px 0px 0px 0px
      border-top: 1px solid rgba($color-light-gray, 0.1)
      font-size: 13px
      opacity: 0.8
      &.flight
        +icon-for-button('icon-plane-white','base/icons/',20px,50%,22px)
        background-position: left 5px top 12px
      &.train
        +icon-for-button('icon-train-white','base/icons/',20px,50%,22px)
        background-position: left 5px top 12px
    li.appointment
      border-top: 1px solid rgba($color-light-gray, 0.2)
      list-style-type: none
      opacity: 0.5
      padding: 10px 15px
      +icon-for-button('icon-calendar-white','base/icons/',50px,15px,32px)
      &.active
        opacity: 1
        background: $color-lightest
        color: $color-darkest
        +icon-for-button('icon-calendar','base/icons/',50px,15px,32px)
        .selection-description
          opacity: 0.8
          .appointment-price
            color: $color-secondary
            font-weight: bold
          border-top: 1px solid $color-gray
          &.flight
            +icon-for-button('icon-plane','base/icons/',20px,50%,22px)
            background-position: left 5px top 12px
          &.train
            +icon-for-button('icon-train','base/icons/',20px,50%,22px)
            background-position: left 5px top 12px
      &.done
        opacity: 1
        +icon-for-button('icon-calendar-checked','base/icons/',50px,15px,32px)
        &:hover
          background-color: lighten($color-secondary, 5)
          cursor: pointer
    li.question
      border-top: 1px solid rgba($color-light-gray, 0.4)
      list-style-type: none
      opacity: 0.5
      padding: 10px 15px
      +icon-for-button('icon-question-white','base/icons/',50px,15px,32px)
      &.active
        opacity: 1
        background: $color-lightest
        color: $color-darkest
        +icon-for-button('icon-question','base/icons/',50px,15px,32px)
    li.return
      border-top: 1px solid rgba($color-light-gray, 0.4)
      list-style-type: none
      opacity: 0.5
      padding: 10px 15px
      +icon-for-button('icon-return-white','base/icons/',50px,15px,32px)
      &.active
        opacity: 1
        background: $color-lightest
        color: $color-darkest
        +icon-for-button('icon-return','base/icons/',50px,15px,32px)
      &.done
        opacity: 1
        +icon-for-button('icon-return-green','base/icons/',50px,15px,32px)
    .done
      border-left: 3px solid $color-primary
    .active
      border-left: 5px solid $color-gray
 
.itinerary-box
  .appointment-name
    font-family: Raleway, "Raleway", sans-serif
  .appointment-time
    font-weight: 200
    font-size: 14px
    letter-spacing: 0.5px
  .appointment-location
    font-size: 14px
  .card
    +box-shadow-centered
    .card-header
      background: $color-lightest
  .itinerary-card
    &:not(.open)
      .card-block
        &:hover
          background-color: rgba($color-light-gray, 0.6)
    .card-block
      padding: 0px
      cursor: pointer
      &.appointment
        +icon-for-button('icon-calendar','base/icons/',50px,50%,28px)
        background-position: left 15px top 15px
      &.hotel
        +icon-for-button('icon-hotel','base/icons/',50px,50%,28px)
        background-position: left 15px top 15px
      &.flight
        +icon-for-button('icon-plane','base/icons/',50px,50%,28px)
        background-position: left 15px top 15px
      &.train
        +icon-for-button('icon-train','base/icons/',50px,50%,28px)
        background-position: left 15px top 15px
      &.car
        +icon-for-button('icon-train','base/icons/',50px,50%,28px)
        background-position: left 15px top 15px
      .appointment
        +icon-for-button('icon-calendar','base/icons/',65px,50%,28px)
        background-position: left 30px top 12px
      .hotel
        +icon-for-button('icon-hotel','base/icons/',65px,50%,28px)
        background-position: left 30px top 12px
      .flight
        +icon-for-button('icon-plane','base/icons/',65px,50%,28px)
        background-position: left 30px top 12px
      .train
        +icon-for-button('icon-train','base/icons/',65px,50%,28px)
        background-position: left 30px top 12px
      .car
        +icon-for-button('icon-train','base/icons/',65px,50%,28px)
        background-position: left 30px top 12px
    div
      font-family: Raleway, "Raleway", sans-serif
    small
      color: $color-dark-gray
      display: block
    text-align: center
    +breakpoint(md)
      text-align: left
  .change-link
    display: none
    a
      font-size: 14px
      font-family: Raleway, "Raleway", sans-serif
      font-weight: 600
  .radio-container
    text-align: center
    width: 100%
    input
      height: 22px
      width: 22px
      margin-left: 2px
  .options
    font-size: 12px
    font-weight: 500
    padding: 3px 15px
    color: $color-darkest
    font-size: 14px
    text-align: center
  .border-table
    border: 2px solid $color-dark-gray
  .main-itinerary-table
    input
      margin-top: 10px
    .radio-container
      text-align: center
      padding: 0
  .itinerary-table
    padding: 5px 15px
    .price
      font-size: 20px
      small
        font-size: 12px
    .info
      margin-bottom: 8px
    div
      font-size: 14px
      +breakpoint(md)
        margin-bottom: 0
        font-size: 16px
    &.itinerary-small-table
      padding-top: 15px
      padding-bottom: 10px
      &:hover
        background-color: rgba($color-light-gray, 0.6)
      .info
        font-size: 14px
        line-height: 1em
        font-family: 'Helvetica Neue', Helvetica, Arial
      .price
        font-size: 16px
        text-align: center
      .radio-container
        height: 15px
      +breakpoint(md)
        small
          display: none
    &.selected
      background-color: rgba($color-primary, 0.2)!important


    +breakpoint(md)
      padding-top: 5px
      .price
        text-align: right
  .calendar-icon
    +icon-for-button('icon-calendar-white','base/icons/',45px,15px,28px)
  .time-before
    margin-top: 20px
    line-height: 1.4
    border-top: 1px solid $color-gray
    padding: 15px 0px
    margin-bottom: 0
    h6
      +icon-for-button('icon-time','base/icons/',25px,18px,18px)
      background-position: left top
      text-transform: uppercase
      color: $color-dark-gray
      letter-spacing: 0.5px
  .departure-city
    margin-top: 10px
    margin-bottom: 20px
    line-height: 1.4
    border-top: 1px solid $color-gray
    border-bottom: 1px solid $color-gray
    padding: 15px 0px
    padding-left: 20px
    a
      font-size: 14px
    h6
      +icon-for-button('icon-arrowlist','base/icons/',25px,10px,10px)
      background-position: left top 3px
      text-transform: uppercase
      color: $color-dark-gray
      letter-spacing: 0.5px
      b
        text-transform: none
        display: block
    small
      line-height: 1
    &.open
      padding: 10px
      border: 1px solid $color-danger
      +border-radius(3px)
      h6
        color: $color-danger
    #form-change-departurecity
      margin-top: 10px
    +breakpoint(md)
      padding-left: 0
  .next-apt
    margin-top: 5px
    margin-bottom: 15px
  .return-checkbox
    padding-left: 12px
    label
      text-transform: none
      font-weight: 400
      width: auto
      input
        margin-right: 10px
  &.message
    background-color: $color-primary
    color: $color-lightest
    +icon-for-button('icon-happy','base/icons/',70px,15px,48px)
    background-position: left 15px top 35px
    padding-bottom: 30px
    .btn
      margin-top: 15px
    +breakpoint(md)
      background-position: left 15px top 50%

  &.open
    background-color: $color-lightest
    color: $color-darkest
    .appointment-location
      color: $color-dark-gray
    .calendar-icon
      +icon-for-button('icon-calendar','base/icons/',45px,15px,28px)

  &.done
    .calendar-icon
      +icon-for-button('icon-calendar-checked','base/icons/',45px,15px,28px)
    .change-link
      display: block
      cursor: pointer
    .itinerary-card
      padding-top: 5px

.edit-placeholder
  padding-right: 30px

.edit-itinerary-link
  display: block
  font-size: 14px
  color: $color-primary
  text-transform: uppercase
  font-family: Raleway

.selected
  &.itinerary-card
    border: 1px solid $color-primary
    +box-shadow-centered(8px, rgba(black, 0.3))


.itinerary-table-small-header
  font-size: 12px
  text-align: left
  text-transform: uppercase
  padding-left: 63px
  border-top: 1px solid $color-gray
  border-bottom: 1px solid $color-gray

.cta-sidebar
  padding: 15px
  margin-top: 10px
  border-top: 1px solid rgba($color-light-gray, 0.2)
  text-align: right
  a
    display: inline-block
    padding: 5px 10px
    border: 1px solid rgba($color-lightest, 0.8)
    &:hover
      background-color: darken($color-secondary, 6)
      cursor: pointer
      border-color: $color-lightest
    color: $color-lightest

#lightbox-panel
  position: fixed
  text-align: center
  padding: 10%
  top: 0
  left: 0
  z-index: 2000
  width: 100%
  height: 100%
  background-color: rgba(black, 0.6)
  .card
    text-align: left