@import base/_variables
@import base/_mixins
@import base/_colors

#sidebar
  flex-direction: column

#travel-content
  color: $color-darkest
  min-height: 100px
  padding: 0
  position: relative
  background: $color-lightest
  padding: 15px 20px
  flex-direction: column
  h2
    display: block
    width: 100%
    margin-bottom: 15px
    margin-top: 10px

.travel-card
  .price
    font-weight: bold
    font-size: 16px
  .google-maps
    position: relative
    height: 250px
    overflow: hidden
    iframe
      position: absolute
      top: 0
      left: 0
      width: 100% !important
      height: 100% !important
  .card-header
    font-family: Raleway, "Raleway", sans-serif
    text-transform: uppercase
    background: none
  .radio-container
    max-width: 40px
    text-align: center
  .table
    margin-bottom: 0px


.appointment-list
  margin: 0
  padding: 0
  list-style-type: none
  li
    +icon-for-button('icon-plane-white','base/icons/',45px,15px,28px)
    color: $color-lightest

.row-flex-wrap
  -webkit-flex-flow: row wrap
  align-content: flex-start
  flex: 0

.row-flex, .row-flex > div[class*='col-']
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  flex: 1 1 auto

