/* Grid breakpoints since we are loading bootstrap only on CSS */
/* Importing base styles */
/* SVG with fallback */
/* Icon inside button */
/* Icon inside list */
/* REM font */
/* Remove Appearance */
/* Give space for 30 px icon */
/* Padding remove/add on med screen */
/* Remove list stylings */
/* Border Radius cross browser */
/* Centered Box Shadow */
/* inset Box Shadow */
/* Bottom box shadow */
/* Card styles */
/* Css Elipsis */
/* Trip representation vehicles */
/* Breakpoints */
/* CSS rotate */
/* Add before element */
/* Add after element */
/* line 1, ../sass/base/_layout.sass */
#nav {
  display: inline-block;
  text-align: center;
}
/* line 4, ../sass/base/_layout.sass */
#nav ul {
  display: table;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}
/* line 11, ../sass/base/_layout.sass */
#nav li {
  display: table-cell;
  list-style-type: none;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
/* line 18, ../sass/base/_layout.sass */
#nav li a {
  display: block;
  font-family: Raleway, "Raleway", sans-serif;
  color: #3C3C3C;
  font-weight: 400;
}
/* line 23, ../sass/base/_layout.sass */
#nav li.active {
  border-bottom: 3px solid #00D097;
}
/* line 25, ../sass/base/_layout.sass */
#nav li.active a {
  color: #00D097;
  font-weight: 600;
}
@media (min-width: 544px) {
  /* line 29, ../sass/base/_layout.sass */
  #nav li {
    height: 50px;
    position: relative;
  }
  /* line 32, ../sass/base/_layout.sass */
  #nav li a {
    position: absolute;
    bottom: 5px;
    width: 100%;
    padding-bottom: 5px;
  }
}

/* line 39, ../sass/base/_layout.sass */
#logo {
  min-height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 43, ../sass/base/_layout.sass */
#logo a {
  display: inline-block;
  min-height: 30px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: auto 100%;
  background-image: url("../images/base/logo/svg/logo.svg");
  background-position: center center;
}
/* line 7, ../sass/base/_mixins.sass */
html.no-svg #logo a {
  background-image: url("../images/base/logo/png/logo.png");
}
@media (min-width: 544px) {
  /* line 39, ../sass/base/_layout.sass */
  #logo {
    text-align: left;
  }
  /* line 51, ../sass/base/_layout.sass */
  #logo a {
    width: 136px;
  }
}

/* line 55, ../sass/base/_layout.sass */
#footer {
  background-color: #4B515E;
  color: #FFFFFF;
  padding-top: 40px;
  padding-bottom: 80px;
}
/* line 60, ../sass/base/_layout.sass */
#footer a {
  color: #FFFFFF;
}
/* line 62, ../sass/base/_layout.sass */
#footer a:hover {
  color: #FFFFFF;
}
/* line 64, ../sass/base/_layout.sass */
#footer .footer-info-area {
  text-align: center;
}
/* line 66, ../sass/base/_layout.sass */
#footer .social-media-area {
  text-align: center;
}
@media (min-width: 768px) {
  /* line 69, ../sass/base/_layout.sass */
  #footer .footer-info-area {
    text-align: left;
  }
  /* line 71, ../sass/base/_layout.sass */
  #footer .social-media-area {
    text-align: right;
  }
}

/* line 75, ../sass/base/_layout.sass */
.card {
  overflow: hidden;
  color: #3C3C3C;
  position: relative;
}
/* line 79, ../sass/base/_layout.sass */
.card .card-title {
  color: #3C3C3C;
}
/* line 81, ../sass/base/_layout.sass */
.card label {
  color: #3C3C3C;
  font-size: 12px;
  font-weight: 400;
}

/* line 88, ../sass/base/_layout.sass */
.card-widget .card-edit {
  position: absolute;
  right: 5px;
  top: 15px;
}
@media (min-width: 768px) {
  /* line 88, ../sass/base/_layout.sass */
  .card-widget .card-edit {
    position: relative;
    top: 0;
    right: 0;
  }
}
/* line 96, ../sass/base/_layout.sass */
.card-widget.open {
  background-color: #F8F8F8;
}
/* line 98, ../sass/base/_layout.sass */
.card-widget.closed {
  line-height: 1.2;
  padding: 15px 0px;
}
/* line 101, ../sass/base/_layout.sass */
.card-widget.closed p {
  font-family: Raleway, "Raleway", sans-serif;
  margin: 0;
}
/* line 104, ../sass/base/_layout.sass */
.card-widget.closed a {
  color: #3C3C3C;
  font-family: Raleway, "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
}
/* line 111, ../sass/base/_layout.sass */
.card-widget .card-header {
  background-color: #FFFFFF;
  color: #3C3C3C;
  font-family: Raleway, "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}
/* line 117, ../sass/base/_layout.sass */
.card-widget .card-header small {
  font-weight: 400;
  display: block;
}
/* line 120, ../sass/base/_layout.sass */
.card-widget.card-appointment {
  padding-bottom: 10px;
}
/* line 122, ../sass/base/_layout.sass */
.card-widget.card-appointment .appointment-date {
  font-weight: 600;
}
/* line 124, ../sass/base/_layout.sass */
.card-widget.card-appointment.open {
  border: 2px solid green;
}
/* line 126, ../sass/base/_layout.sass */
.card-widget.card-appointment.closed {
  background-color: #F8F8F8;
  padding-top: 0px;
}
@media (min-width: 992px) {
  /* line 126, ../sass/base/_layout.sass */
  .card-widget.card-appointment.closed {
    padding-top: 15px;
    background-color: #FFFFFF;
  }
}

/* line 133, ../sass/base/_layout.sass */
.no-padding {
  padding: 0;
}

/* line 136, ../sass/base/_layout.sass */
.separate {
  display: block;
  height: 40px;
  width: 100%;
}

/* line 141, ../sass/base/_layout.sass */
.section-padding {
  padding-top: 80px;
  padding-bottom: 80px;
}

/* line 145, ../sass/base/_layout.sass */
i {
  display: inline-block;
  height: 22px;
  width: 22px;
  position: relative;
}

/* line 152, ../sass/base/_layout.sass */
.date-selector .date {
  padding-right: 5px;
}
/* line 154, ../sass/base/_layout.sass */
.date-selector .time {
  padding-left: 5px;
}

/* line 1, ../sass/base/_typography.sass */
body, div, p, a {
  font-family: Helvetica Neue, "Helvetica Neue", Helvetica, sans-serif;
}

/* line 6, ../sass/base/_typography.sass */
h1 {
  font-family: Raleway, "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  font-size: 2rem;
}
@media (min-width: 768px) {
  /* line 6, ../sass/base/_typography.sass */
  h1 {
    font-size: 2.5rem;
  }
}

/* line 15, ../sass/base/_typography.sass */
h2 {
  font-family: Raleway, "Raleway", sans-serif;
  font-weight: 400;
  color: #00D097;
}

/* line 20, ../sass/base/_typography.sass */
h3 {
  font-family: Raleway, "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

/* line 25, ../sass/base/_typography.sass */
h4 {
  font-family: Raleway, "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

/* line 30, ../sass/base/_typography.sass */
h5 {
  font-family: Raleway, "Raleway", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 0;
}

/* line 38, ../sass/base/_typography.sass */
h6 {
  font-family: Helvetica Neue, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 200;
  margin-top: 0;
}

/* line 44, ../sass/base/_typography.sass */
a {
  color: #00D097;
  font-weight: 400;
}
/* line 47, ../sass/base/_typography.sass */
a:hover, a:focus {
  color: #009d72;
  text-decoration: none;
}
/* line 51, ../sass/base/_typography.sass */
a:active {
  color: #00845f;
}

/* line 54, ../sass/base/_typography.sass */
p {
  color: #3C3C3C;
}

/* line 57, ../sass/base/_typography.sass */
label {
  font-family: Raleway, "Raleway", sans-serif;
}

/* line 62, ../sass/base/_typography.sass */
.text-align-center {
  text-align: center;
}

/* line 65, ../sass/base/_typography.sass */
.text-align-left {
  text-align: left;
}

/* line 68, ../sass/base/_typography.sass */
.text-align-right {
  text-align: right;
}

/* line 1, ../sass/base/_forms.sass */
label {
  text-transform: uppercase;
  font-weight: 200;
  display: block;
  font-size: 14px;
  letter-spacing: 0.5px;
}

/* line 8, ../sass/base/_forms.sass */
input[type="text"],
input[type="email"],
input[type="url"] {
  width: 100%;
}

/* line 14, ../sass/base/_forms.sass */
.drop-zone .drop-button {
  background: none;
  color: #FFFFFF;
  border: 2px dashed rgba(255, 255, 255, 0.7);
  line-height: 28px;
  vertical-align: middle;
}

/* line 21, ../sass/base/_forms.sass */
select {
  min-height: 38px;
  height: 38px;
  line-height: 38px;
}

/* line 1, ../sass/base/_buttons.sass */
.btn {
  font-family: Raleway, "Raleway", sans-serif;
  overflow: hidden;
}
/* line 4, ../sass/base/_buttons.sass */
.btn:not(.btn-lg) {
  -webkit-box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.2);
  position: relative;
  padding-top: 7px;
  padding-bottom: 8px;
}
/* line 227, ../sass/base/_mixins.sass */
.btn:not(.btn-lg):after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 3px;
}
/* line 10, ../sass/base/_buttons.sass */
.btn:not(.btn-lg):after {
  margin-top: -3px;
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 13, ../sass/base/_buttons.sass */
.btn:not(.btn-lg):hover {
  -webkit-box-shadow: 0px 6px 2px -4px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 6px 2px -4px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 6px 2px -4px rgba(0, 0, 0, 0.05);
  padding-top: 6.5px;
  padding-bottom: 6.5px;
  margin-top: 2px;
}
/* line 14, ../sass/base/_buttons.sass */
.btn:not(.btn-lg):hover:after {
  display: none;
}
/* line 20, ../sass/base/_buttons.sass */
.btn.btn-lg {
  -webkit-box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.2);
  position: relative;
  padding-top: 10px;
  padding-bottom: 14px;
}
/* line 227, ../sass/base/_mixins.sass */
.btn.btn-lg:after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 5px;
}
/* line 26, ../sass/base/_buttons.sass */
.btn.btn-lg:after {
  margin-top: -5px;
  background-color: rgba(0, 0, 0, 0.3);
}
/* line 29, ../sass/base/_buttons.sass */
.btn.btn-lg:hover {
  -webkit-box-shadow: 0px 6px 2px -4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 6px 2px -4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 6px 2px -4px rgba(0, 0, 0, 0.1);
  margin-top: 2px;
  padding-top: 11px;
  padding-bottom: 11px;
}
/* line 30, ../sass/base/_buttons.sass */
.btn.btn-lg:hover:after {
  display: none;
}

/* line 39, ../sass/base/_buttons.sass */
.btn-primary {
  background-color: #00D097;
  border: #009d72;
  color: #FFFFFF;
}
/* line 43, ../sass/base/_buttons.sass */
.btn-primary:hover, .btn-primary:focus {
  background-color: #009d72;
  color: rgba(255, 255, 255, 0.8);
}
/* line 47, ../sass/base/_buttons.sass */
.btn-primary:active {
  background-color: #00eaaa;
  border-color: #00D097;
}
/* line 50, ../sass/base/_buttons.sass */
.btn-primary:active:hover, .btn-primary:active:focus {
  background-color: #00eaaa;
  border-color: #00D097;
}

/* line 55, ../sass/base/_buttons.sass */
.btn-delete {
  background-color: #D0001F;
  margin-right: 5px;
  border: #9d0017;
  color: #FFFFFF;
}
/* line 60, ../sass/base/_buttons.sass */
.btn-delete:hover, .btn-delete:focus {
  background-color: #9d0017;
  color: rgba(255, 255, 255, 0.8);
}
/* line 64, ../sass/base/_buttons.sass */
.btn-delete:active {
  background-color: #ea0023;
  border-color: #D0001F;
}
/* line 67, ../sass/base/_buttons.sass */
.btn-delete:active:hover, .btn-delete:active:focus {
  background-color: #ea0023;
  border-color: #D0001F;
}

/* line 1, ../sass/base/_icons.sass */
.location-icon {
  background-repeat: no-repeat;
  padding-left: 45px;
  background-position: 5px 50%;
  background-size: auto 28px;
  background-image: url("../images/base/icons/svg/icon-location.svg");
}
/* line 17, ../sass/base/_mixins.sass */
html.no-svg .location-icon {
  background-image: url("../images/base/icons/png/icon-location.png");
}

/* line 4, ../sass/base/_icons.sass */
.input-location {
  background-repeat: no-repeat;
  padding-left: 45px;
  background-position: 5px 50%;
  background-size: auto 28px;
  background-image: url("../images/base/icons/svg/icon-location.svg");
}
/* line 17, ../sass/base/_mixins.sass */
html.no-svg .input-location {
  background-image: url("../images/base/icons/png/icon-location.png");
}

/* line 7, ../sass/base/_icons.sass */
.pencil-icon {
  background-repeat: no-repeat;
  padding-left: 45px;
  background-position: 5px 50%;
  background-size: auto 28px;
  background-image: url("../images/base/icons/svg/icon-pencil.svg");
}
/* line 17, ../sass/base/_mixins.sass */
html.no-svg .pencil-icon {
  background-image: url("../images/base/icons/png/icon-pencil.png");
}

/* line 10, ../sass/base/_icons.sass */
.time-icon {
  background-repeat: no-repeat;
  padding-left: 45px;
  background-position: 5px 50%;
  background-size: auto 28px;
  background-image: url("../images/base/icons/svg/icon-time.svg");
}
/* line 17, ../sass/base/_mixins.sass */
html.no-svg .time-icon {
  background-image: url("../images/base/icons/png/icon-time.png");
}

/* line 13, ../sass/base/_icons.sass */
.calendar-icon {
  background-repeat: no-repeat;
  padding-left: 45px;
  background-position: 5px 50%;
  background-size: auto 28px;
  background-image: url("../images/base/icons/svg/icon-calendar.svg");
}
/* line 17, ../sass/base/_mixins.sass */
html.no-svg .calendar-icon {
  background-image: url("../images/base/icons/png/icon-calendar.png");
}

/* line 16, ../sass/base/_icons.sass */
.icon-plus {
  background-repeat: no-repeat;
  padding-left: 40px;
  background-position: 5px 30%;
  background-size: auto 28px;
  background-image: url("../images/base/icons/svg/icon-plus-white.svg");
  float: left;
  height: 28px;
}
/* line 17, ../sass/base/_mixins.sass */
html.no-svg .icon-plus {
  background-image: url("../images/base/icons/png/icon-plus-white.png");
}

/* Importing page styles */
/* SVG with fallback */
/* Icon inside button */
/* Icon inside list */
/* REM font */
/* Remove Appearance */
/* Give space for 30 px icon */
/* Padding remove/add on med screen */
/* Remove list stylings */
/* Border Radius cross browser */
/* Centered Box Shadow */
/* inset Box Shadow */
/* Bottom box shadow */
/* Card styles */
/* Css Elipsis */
/* Trip representation vehicles */
/* Breakpoints */
/* CSS rotate */
/* Add before element */
/* Add after element */
/* line 6, ../sass/pages/index.sass */
.index #widget-container {
  margin-top: -6px;
  background-color: #4B515E;
  color: #FFFFFF;
  padding: 40px 0px;
  width: 100%;
  display: block;
}
/* line 13, ../sass/pages/index.sass */
.index #widget-container h2 {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 18px;
}
@media (min-width: 544px) {
  /* line 6, ../sass/pages/index.sass */
  .index #widget-container {
    padding: 80px 0px;
  }
}
/* line 19, ../sass/pages/index.sass */
.index #widget-container #widget-form {
  margin-top: 20px;
}
/* line 21, ../sass/pages/index.sass */
.index #widget-container .appointment-card-side {
  border-bottom: 1px solid #E2E2E2;
  padding-bottom: 15px;
  margin-bottom: 15px;
  background-position: left 5px top 40%;
  background-color: #FFFFFF;
  padding-top: 15px;
}
@media (min-width: 992px) {
  /* line 21, ../sass/pages/index.sass */
  .index #widget-container .appointment-card-side {
    padding-top: 0px;
    border: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-right: 1px solid #E2E2E2;
  }
}
/* line 35, ../sass/pages/index.sass */
.index #video-section {
  background: #F8F8F8;
  padding-top: 80px;
  padding-bottom: 80px;
}
/* line 40, ../sass/pages/index.sass */
.index #contact-section {
  text-align: center;
}
/* line 42, ../sass/pages/index.sass */
.index #contact-section .btn {
  margin-top: 30px;
}
@media (min-width: 544px) {
  /* line 40, ../sass/pages/index.sass */
  .index #contact-section {
    text-align: left;
  }
  /* line 46, ../sass/pages/index.sass */
  .index #contact-section .btn {
    float: right;
    margin-top: -15px;
  }
}
/* line 50, ../sass/pages/index.sass */
.index .info-quote {
  background: #FFFFFF;
  color: #666666;
  font-style: italic;
  line-height: 2;
  font-size: 16px;
  padding: 20px 30px;
  font-weight: 200;
  letter-spacing: 0.3px;
}
